/* Общие стили */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Стили для хедера (заголовка) */

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 32px;
  color: #333;
  margin: 0;
}

/* Стили для формы поиска */

.search-form {
  text-align: center;
  margin-bottom: 20px;
}

.search-form input[type='text'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.search-form input[type='text']:focus {
  border-color: #007bff;
}

.search-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-form button:hover {
  background-color: #0056b3;
}

/* Стили для галереи изображений */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-card {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.photo-card:hover {
  transform: scale(1.03);
}

.photo-card img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease-in-out;
}

.photo-card:hover img {
  opacity: 0.8;
}

.info {
  padding: 10px;
  background-color: #fff;
  text-align: center;
}

.info-item {
  margin: 0;
  font-weight: bold;
  color: #555;
}

/* Стили для кнопки "Load more" */

.load-more {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.load-more:hover {
  background-color: #0056b3;
}

/* Уведомления Notiflix */

.notiflix-notify {
  text-align: center;
}

.notiflix-notify .notiflix-notify-failure {
  background-color: #ff6b6b;
}

.notiflix-notify .notiflix-notify-warning {
  background-color: #ffc107;
  color: #333;
}
