<article class="example" id="uk">
  <h1>HTML-partials</h1>

 <!-
    ❗ Путь к изображениям из HTML Partial
    это то же самое, что и из файла index.html
  ->
  <img src="images/logo.png" alt="" width="320" />

  <p>
    The
    <a
      href="https://github.com/posthtml/posthtml-include"
      target="_blank"
      rel="noopener noreferrer"
    >
      posthtml-include
    </a>
   Плагин позволяет добавлять код из других файлов HTML (фрагменты) на HTML -страницу
    файлыФрагменты хранятся в папке <code> src/partials </code>.А
    Дополнение происходит при составлении файлов страниц, таких как <code> index.html </code>.
  </p>

  <p>
    Этот файл <code> example.html </code> является примером такого фрагмента, с
    разметка определенной части главной страницы.Это очень удобно для
    Развитие команды по студенческим проектам, когда несколько человек пишут в одном HTML
    файл одновременно.
  </p>

  <p>
    The syntax for adding a fragment to the main file is:
    <code> &lt;include src="./partials/filename.html"&gt;&lt;/include&gt;</code>
  </p>

  <div class="background"></div>
</article>
